*, 
html {
    margin: 0;
    padding: 0;
}

.container-utama {
    
}

.container-navbar{
    background-color: black;
    width: 100%
    height: 10vh;
}

.ul-navbar {
    background-color: black;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: #fff;
    font-size: 30px;
}

.li-navbar:hover{
    background-color: crimson;
    transition: .3s ease-in-out;
    transition-delay: .2s;
    border-radius: 8px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: rgb(213, 137, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    width: 720px;
    height: 480px;
    text-decoration: none;
    background-color: chartreuse;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 80px;
    box-shadow: 5px 5px 15px 5px #000000;
}


.img-content {
    width: 30%;
    height: 30%;
}

.container-footer {
    background-color: rgb(127, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.h1-footer  {
    font-size: 40px;

}